version: 2.1

jobs:
  build:
    parallelism: 1
    working_directory: ~/ads-app
    docker:
      - image: cimg/ruby:3.0.0
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          RAILS_ENV: test
    steps:
      - checkout

      - run:
          name: Install RMagick dependencies
          command: sudo apt-get update && sudo apt-get install libmagickcore-dev libmagickwand-dev

      # Which version of bundler?
      - run:
          name: Which bundler?
          command: bundle -v

      - run:
          name: Bundle Install
          command: bundle check || bundle install

      # Run rspec
      - run:
          name: rspec
          working_directory: ~/ads-app
          command: bundle exec rake spec

      # Run rubocop
      - run:
          name: rubocop
          command: bundle exec rake rubocop
