@import "~bootstrap/scss/bootstrap"; 

#error_explanation {
  border: 1px solid red;
  border-radius: 8px;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #ffcece;
  color: #c36565;
}
