@import "~bootstrap/scss/bootstrap"; 

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(235, 235, 235);
  color: rgb(160, 160, 160);
  text-align: center;
  font-size: 1em;
}

#error_explanation {
  border: 1px solid red;
  border-radius: 8px;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #ffcece;
  color: #c36565;
}
